################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/bin/Debug
/ConsoleApp1/obj/Debug/ConnectToDBApp.pdb
/ConsoleApp1/obj/Debug/ConnectToDBApp.exe.config
/ConsoleApp1/obj/Debug/ConnectToDBApp.exe
/ConsoleApp1/obj/Debug/ConnectToDBApp.csproj.FileListAbsolute.txt
/ConsoleApp1/obj/Debug/ConnectToDBApp.csproj.CoreCompileInputs.cache
/ConsoleApp1/obj/Debug/ConnectToDBApp.csproj.CopyComplete
/ConsoleApp1/obj/Debug
